<% page.posts.each(function (item) { %>
<section id="<%= item.layout %>-<%= item.slug %>" class="mb-5">
    <div id="section-header">
        <a href="<%= item.path %>" class="text-xs block"><%= item.date.format(config.date_format) %></a>
        <a href="<%= item.path %>" class="font-bold text-blue-600 block"><%= item.title %></a>
    </div>
    <div id="section-excerpt" class="text-sm">
        <%if (item.excerpt) { %>
            <%- item.excerpt %>
            <a href="<%= item.path %>" class="text-blue-600">Baca Selengkapnya</a>
        <% } else if (item.content) { %>
            <%- excerpt_gen(item.content) %>
            <a href="<%= item.path %>" class="text-blue-600">Baca Selengkapnya</a>
        <% } %>
    </div>
</section>
<% }) %>

<nav>
    <% if (page.prev){ %>
        <a href="<%- url_for(page.prev_link) %>"><%= __('prev') %></a>
    <% } %>
    <% if (page.next){ %>
        <a href="<%- url_for(page.next_link) %>"><%= __('next') %></a>
    <% } %>
</nav>